<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="d-flex align-items-center min-vh-100" style="height: 630px;
           background-image: linear-gradient(120deg,#7f70f5,#0ea0ff);">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-5 shadow p-3 mb-5 bg-white rounded">
                <!-- Login Form -->
                <h2 style="text-align:center; color: #775bf3">Forgot password?</h2>
                <div id="loginForm">
                       {% if error %}
                            <p class="error" style="color:darkred"><strong >Error:</strong> {{ error }}
                        {% endif %}
                    <form method="POST">

                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" id="email" name="email" placeholder="Email address" class="form-control"
                                   required autofocus value="{{ request.form.email }}">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" id="loginbtn" value="forget">Send
                        </button>
                    </form>
                </div>
                <br>
                <a href="/" class="form-check-label">Back to login </a>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
</body>
</html>