<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
<div class="d-flex align-items-center min-vh-100" style="height: 630px;
           background-image: linear-gradient(120deg,#7f70f5,#0ea0ff);">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-5 shadow p-3 mb-5 bg-white rounded">
                <!-- Login Form -->
                <h2 style="text-align:center; color: #775bf3">Reset Password</h2>
                <div id="loginForm">
                       {% if error %}
                            <p class="error" style="color:darkred"><strong >Error:</strong> {{ error }}
                        {% endif %}
                    <form method="POST">
                        <div class="form-group">
                            <label>Token</label>
                            <input type="Text" id="Token" name="Token" placeholder="Token" value="{{ request.form.Token }}" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="password" name="password" placeholder="Password" value="{{ request.form.password }}" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" value="{{ request.form.Confirmpassword }}" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" id="loginbtn" value="login">submit
                        </button>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
</body>
</html>